body {
    margin: 0;
    background-color: rgb(76, 76, 76);
}

.box {
    display: flex;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 5%;
    left: 7.5%;
    height: 90%;
    width: 85%;
    border: none;
    border-radius: 20px;
    flex-direction: column;
}

.top {
    position: absolute;
    top: 20px;
    left: 20px;
    display:flex;
    justify-content: start;
    align-items: center;
    height: 65px;
    .x {
        height: 30px;
        width: 30px;
        border: none;
        border-radius: 40%;
        color: white;
        background-color: red;
        font-size: 25px;
        margin-left: 20px;
        transition-duration: .35s;
    }
    .title {
        display: inline-block;
        color: rgb(0, 0, 0);
        font-size: 40px;
        margin: 0;
        margin-left: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
    }
    .x:hover {
        transform: scale(1.2);
        background-color: rgb(119, 0, 0);
    }
    .x:active {
        border: solid 1px white;
    }
}

.info {
    background-color: rgb(37, 37, 37);
    color: white;
    position: absolute;
    display: inline-block;
    height: 85%;
    width: 98%;
    top: 13%;
    left: 1%;
    border:none;
    border-radius: 10px;
    * {
        margin: 0;
    }
    p {
        display: block;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
    }
    .a {
        font-size: 30px;
        font-weight: 550;
        border-bottom: solid 1px white;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    button {
        display: block;
        border: none;
        border-radius: 4px;
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 8px;
        width: 100%;
        text-align: start;
        cursor: pointer;
    }
    button:hover {
        background-color: rgb(61, 61, 61);
    }
}

.one,.two,.three,.four {
    border-radius: 10px;
    background-color: black;
    position: absolute;
    height: 35%;
    width: 40%;
    padding: 30px 40px;
}

.one {
    top: 4%;
    left: 3%;
}

.two {
    top: 4%;
    left: 51%;
}

.three {
    top: 51%;
    left: 3%;
}

.four {
    top: 51%;
    left: 51%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    button {
        text-align: end;
        color: rgb(0, 123, 255);
    }
    button:hover {
        color: white;
    }
}



/* Flash messages */
.flashes {
  margin-bottom: 20px;
  list-style: none;
}

.flashes li {
  padding: 10px 15px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.flashes .success {
  background: #2ecc71;
}

.flashes .error {
  background: #e74c3c;
}